.tweak-index-gallery-content-position-top-left .Index-gallery-item-inner:before, .tweak-index-gallery-content-position-top-center .Index-gallery-item-inner:before, .tweak-index-gallery-content-position-top-right .Index-gallery-item-inner:before{
  vertical-align: middle!important;
}
.tweak-index-gallery-content-position-top-left .Index-gallery-item-content, .tweak-index-gallery-content-position-top-center .Index-gallery-item-content, .tweak-index-gallery-content-position-top-right .Index-gallery-item-content{
  vertical-align: middle!important;
}
.Index-gallery-item-content-heading{
  font-size:42px;
  margin-left:30px;
  color:#ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  text-align:center;
  line-height:1.2em;
}

.Index-gallery-item-content{
  position:absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:hsla(0, 0%, 0%, 0.4);
}

/*PEOPLE*/
#dr-matthew-w-fluegge,#breanna-bessette,#jessica-sturtz{
  background-color: #edece8;
}

/*mobile logo size */
.Mobile-bar-branding-logo{
  width: 160px!important;
}

/*Services Section on Home*/
#Our-Services-H {
  text-align: center;
  resize: vertical;
}

#Our-Services-C {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize:vertical;
}

@media screen and (max-width:915px) {
  #Our-Services-H {
    font-size: 60px;
  }
}

@media screen and (max-width:695px) {
  #Our-Services-H {
    margin-top: 60px;
  }
}

#services-header .Index-page-content{
  padding:0;
}
#block-ee093f9666ca839d6336{
    margin-top: 110px;
    display: block;
    z-index: 1000;
    position: relative;
}
#block-ee093f9666ca839d6336 h1{
  color:#249628;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  text-align:left;
  padding-left:20px;
}
#home-services{
  margin-top:-110px;
}
#block-daab84743b4daca1e439{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

#services-1 .Index-page-content{
  padding: 0;
}
#block-yui_3_17_2_1_1525799606055_3974{
  padding: 0!important;
}
#services-1{
  background-color: #edece8;
}

/*Services Image Height and make pretty*/
#services-1 img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

#block-yui_3_17_2_1_1525799606055_3974, #block-yui_3_17_2_1_1525799606055_3974 .sqs-block-content, #block-yui_3_17_2_1_1525799606055_3974 .sqs-block-content, #block-yui_3_17_2_1_1525799606055_3974 .sqs-block-content .sqs-gallery-container, #block-yui_3_17_2_1_1525799606055_3974 .sqs-block-content .sqs-gallery-container .sqs-gallery{
  min-height: 518px!important;
}

#services-1 .sqs-gallery-design-stacked-slide {
  overflow: hidden;
}

#services-1 .sqs-gallery-design-stacked {
  text-align: center;
}

/*Mobile Font Fix*/
@media screen and (max-width: 640px){
h1 {
    font-size: 68px!important;
    line-height: 72px;
  }
}

/*Text Shadow*/
.shadowed{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

/*footer text*/
.footer-text{
  text-align: center;
  font-size: 12px;
}
